.main {
  .section_indent{
    margin-bottom: 60px;
  }
  section.about {
    .about__detail {
      p {
        line-height: 30px;
      }
    }

    .about__gallery {
      & {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .gallery__instance {
        width: 130px;
        height: 130px;
        position: relative;
        overflow: hidden;
        img {
          padding: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          max-height: 100%;
          width: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .block-content__list-description {
    .list-description__name {
      h4 {
        font-size: 20px;
      }
    }
    .list-description__name_indent {
      margin-bottom: 25px;
      text-shadow: 0px -2px 1px black;
    }
    .list-description__title_indent {
      margin-bottom: 30px;
    }
    .list-description__quote {
      color: #abaaaa;
    }
  }
  .row__coaches_indent {
    margin-bottom: 55px;
  }

  .block-avatar {
    .block-avatar__photo_wrapper {
      width: 264px;
    }
    .block-avatar__photo {
      width: 230px;
      margin: 0 auto;
      img {
        width: inherit;
        border-top: 1px solid #a6a6a6;
        border-left: 1px solid #a6a6a6;
        border-right: 1px solid #a6a6a6;
      }
    }
    .block-avatar__decor {
      width: 264px;
      height: 40px;
      background: url(../img/background/coach-decor.jpg) 10px 0 no-repeat #3b3b3b;
      border: 1px solid #a6a6a6;
      display: flex;
      position: relative;
      span {
        margin: auto;
        font-size: 18px;
        color: #9f9d9d;
        text-shadow: 0px -2px 1px black;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 17px;
        height: 14px;
        background-size: 100%;
        z-index: -1;
      }
      &:before {
        background: url(../img/background/edge-left.png) 0 0 no-repeat;
        left: 0;
        top: -37%;
      }
      &:after {
        background: url(../img/background/edge-right.png) 0 0 no-repeat;
        right: 0;
        top: -39%;
      }
    }
  }
  .dance-hall{
    .dance-hall__gallery{
      margin: 20px 0;
    }
  }

}
