.main_page {
  position: relative;
  .main_page__text {
    padding: 30px 20px;
    margin-bottom: 120px;
    line-height: 30px;
  }
  .main_page__decor {
    content: '';
    position: absolute;
    background: url(../img/ballet.png) 0 0 no-repeat;
    width: 134px;
    height: 145px;
    right: 30px;
    bottom: 0;
    z-index: 2;
  }
  p {
    color: #e3e3e3;
    font-size: 15px;
    margin-bottom: 5px;
    text-indent: 15px;
  }
}

