.dance-style {
    border: 1px solid #969696;
    padding: 15px;
    background: url(../img/background/dance-style.jpg) 0 0 no-repeat;
    background-size: cover;
    min-height: 235px;
    transition: border 0.5s ease-out;
  &:hover {
    border: 1px solid #ffca3e;
  }

  .dance-style__image {
    width: 152px;
    float: left;
  }
  .dance-style__image_indent {
    margin-right: 22px;
  }
  .dance-style__content {
    h3 {
      &:hover{
        color: #bfbfbf;
        text-decoration: none;
      }
      margin: 0 0 5px 0;
      color: #ffca3e;
      text-decoration: underline;
    }
    h5{
      color: darken(#ffca3e, 30%);
      font-size: 17px;
    }
  }
}

.dance-style_indent {
  margin-bottom: 15px;
}

.dance-style_link {
  color: #bfbfbf;
  &:hover,
  &:active{
    color: #bfbfbf;
    text-decoration: none;
  }
}

.dance-styles-detail,
.dance-styles-detail__substyles {
  h3 {
    margin: 0 0 10px 0;
    text-align: center;
    color: #ffca3e;
  }
  .dance-styles-detail__carousel {
    float: left;
    max-width: 480px;
    background-color: #3f3f3f;
    padding: 8px;
  }

  .dance-styles-detail__carousel_indent{
    margin: 0 20px 20px 0;
  }

  .dance-styles-detail__text {
    line-height: 25px;
  }
  .slide__main-view {
    height: 315px;
    overflow: hidden;
  }
}
