@font-face {
  font-family: 'MTCORSVA';
  src: url('../fonts/MTCORSVA/MTCORSVA.eot');
  src: local('MTCORSVA'), url('../fonts/MTCORSVA/MTCORSVA.woff') format('woff'), url('../fonts/MTCORSVA/MTCORSVA.ttf') format('truetype');
}


@font-face {
  font-family: 'ArialRegular';
  src: url('../fonts/ArialRegular/ArialRegular.eot');
  src: local('ArialRegular'), url('../fonts/ArialRegular/ArialRegular.woff') format('woff'), url('../fonts/ArialRegular/ArialRegular.ttf') format('truetype');
}

.fontsforweb_fontid_6771 {
  font-family: 'MTCORSVA' !important;
}
