.footer {
  background: #000 url(../img/footer_background.jpg) no-repeat 50% 0;
  color: #b5b2b2;
  font-size: 12px;
  .footer_wrapper {
    border-top: 1px solid #2f2e2e;
    padding: 20px 5% 2% 8%;
  }
  .list {
    list-style-type: none;
    padding: 0;
  }
  .footer__copywright {
    float: left;
    position: relative;
    &::before {
      content: "\00A9";
      position: absolute;
      width: 15px;
      height: 20px;
      right: 100%;
      z-index: 2;
    }
  }
  .address{
    display: flex;
    justify-content: flex-end;
  }
  .footer__address {
    margin-bottom: 0;
  }
  .address__phones, .address__address {
    display: inline-block;
    vertical-align: top;
  }
  .address__phones,
  .address__address{
    display: flex;
  }
  .material-icons_indent{
    margin-right: 6px;
  }

  .address_ml32 {
    margin-left: 32px;
  }
}


