.header {
  color: #ffca3e;
  position: relative;
  z-index: 0;
  .container {
    padding: 0 15px 10px 80px;
  }
  .navbar-brand {
    height: auto;
    position: relative;
  }
  .navbar {
    padding-top: 20px;
    margin-bottom: 0;
  }
  .navbar-header,
  #navbar {
    margin-left: 0;
    margin-right: 0;
  }
  #navbar {
    float: right;
  }
  .navbar-toggle {
    z-index: 1;
    &:hover {
      background-color: #ffca3e;
    }
  }
  .navbar-default {
    background: #000 url(../img/header_background.jpg) 53% 0;
    border: none;
  }
  .navbar-default .navbar-nav > li > a {
    font: 14px/1.455 Arial, Helvetica, sans-serif;
    color: #ffca3e;
    text-decoration: underline;
    padding: 0 30px 0 0;
  }
  .navbar-default .navbar-nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > li.active > a {
    text-decoration: underline;
    color: #e3e3e3;
    background-color: transparent;
  }
  .navbar-header__logo {
    background: url(../img/logo.svg) no-repeat;
    display: block;
    width: 312px;
    height: 122px;
    text-indent: -9999px;
    position: relative;

    a.navbar-brand {
      display: block; /*для того, чтобы лого было полностью кликабельным*/
      height: 100%;
      width: 100%;
    }
  }

  .navbar-header__logo:before {
    opacity: .5;
    content: '';
    position: absolute;
    width: 372px;
    height: 209px;
    background: url(../img/logo_shadow.png) 0 0 no-repeat;
    top: -27px;
    left: -14px;
  }

  .header__motto {
    position: absolute;
    z-index: 1001;
    top: 64px;
    right: 240px;
    h3 {
      font-size: 26px;
      word-spacing: 4px;
      text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: url(../img/shadow_motto.png) 0 0 no-repeat;
        width: 366px;
        height: 78px;
        right: 26px;
        top: 21px;
        opacity: .8;
        bottom: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

}

