@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "preloader.scss";
@import "header.scss";
@import "promo_slider.scss";
@import "sub_nav_bar.scss";
@import "content";
@import "main";
@import "footer.scss";
@import "responsive_colunm_bootstrap.scss";
@import "fonts.scss";
@import "pagination.scss";
@import "media.scss";
@import "dance-styles.scss";
@import "about-us.scss";
@import "contacts.scss";
@import "attaintments.scss";
@import "timetable.scss";
@import "mixins";
@import "const";
@import "news";
@import "../../src/triumph/static/vendor/slick-carousel/slick/slick.scss";
@import "../../src/triumph/static/vendor/slick-carousel/slick/slick-theme.scss";

body {
  margin: 0;
  color: #e3e3e3;
  font: 14px/1.455 Proxima Nova, 'Tenor Sans', Arial, sans-serif;
  background: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  position: relative;
  min-height: 100vh;
  &:before{
    display: block;
    content: '';
    position: absolute;
    background: url(../img/background/bg-noise.jpg) no-repeat;
    top: 80px;
    bottom: 0;
    left: 10%;
    right: 0;
    z-index: -1;
    background-size: 90%;
    opacity: .9;
  }
}

p {
  font-family: Proxima Nova, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

* {
  outline-style: none;
}

.container {
  max-width: 1000px;
}

.wrapper {
  flex-grow: 1;
}

.reset-indents {
  margin: 0;
  padding: 0;
}

.footer {
  flex-grow: 0;
}

.ip-container, .ip-main {
  height: 100vh;
}

.ip-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
