@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "preloader.scss";
@import "header.scss";
@import "headerQueries.scss";
@import "promo_slider.scss";
@import "promo_sliderQueries.scss";
@import "sub_nav_bar.scss";
@import "sub_nav_barQueries.scss";
@import "content.scss";
@import "contentQueries.scss";
@import "main.scss";
@import "mainQueries.scss";
@import "footer.scss";
@import "footerQueries.scss";
@import "responsive_colunm_bootstrap.scss";
@import "fonts.scss";
@import "pagination.scss";
@import "media.scss";
@import "mediaQueries.scss";
@import "dance-styles.scss";
@import "dance-stylesQueries.scss";
@import "about-us.scss";
@import "about-usQueries.scss";
@import "contacts.scss";
@import "attaintments.scss";
@import "timetable.scss";
@import "timetableQueries.scss";
@import "mixins.scss";
@import "const.scss";
@import "news.scss";
@import "../../src/triumph/static/vendor/slick-carousel/slick/slick.scss";
@import "../../src/triumph/static/vendor/slick-carousel/slick/slick-theme.scss";

body {
  margin: 0;
  color: #e3e3e3;
  font: 14px/1.455 Proxima Nova, 'Tenor Sans', Arial, sans-serif;
  background: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  min-height: 100vh;
}

p {
  font-family: Proxima Nova, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

* {
  outline-style: none;
}

.container {
  max-width: 1000px;
}

.wrapper {
  flex-grow: 1;
  position: relative;
  &:before {
    display: block;
    content: '';
    position: absolute;
    background: url(../img/background/bg-noise.jpg) no-repeat;
    top: 15%;
    bottom: 0;
    //left: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: -1;
    background-size: contain;
    opacity: .9;
  }
}

.reset-indents {
  margin: 0;
  padding: 0;
}

.footer {
  flex-grow: 0;
}

//.ip-container, .ip-main {
//  height: 100vh;
//}

.ip-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
