.promo__tango {
  height: 394px;
  width: 325px;
  background-image: url(../img/tango_pair.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: -10px 0 -10px -22px;
  z-index: 1001;
  position: relative;
}

.promo {
  background: #000 url(../img/promo_background.jpg) 53% 0;
  .promo_row {
    padding-left: 118px;
  }
  .promo-wrapper {
    position: relative;
    margin-top: -22px;
    margin-left: -40px;
    z-index: 1000;
    width: 611px;
    height: 280px;

    &::before {
      position: absolute;
      display: block;
      top: 100%;
      left: -8px;
      content: '';
      width: 611px;
      height: 99px;
      background-image: url(../img/background/slider-shadow.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    #promo-slider {

      width: 100%;
      height: inherit;
      overflow: hidden;
      .slide {
        border-radius: 10px;
      }
    }
    .promo-inner-wrapper {
      position: relative;
      border: 1px solid #777777;
      border-radius: 5px;
      overflow: hidden;
      height: inherit;
      &::before{
        position: absolute;
        display: block;
        background: #000;
        opacity: .3;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
