{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}">
<meta name="msapplication-TileImage"
      content="{% static 'images/favicon/ms-icon-144x144.png' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<title>
    {% block head_title %}{{ browser_title }}{% endblock head_title %}
</title>
<meta name="description" content="{{ head_description }}">
<meta name="keywords" content="{{ keywords }}"/>
<meta name="author" content="Nikolay Borovenskiy">
<meta name="google-site-verification" content="lApdmfT5tEnpeixu0bIuOmTWjOU_HxdVC2-rnW9NHx0" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% block styles %}
{% endblock %}
{% if debug %}
<link rel="stylesheet" href="{% static 'build/bundle.css' %}?ver={% file_version 'build/bundle.css' %}"/>
<link href="http://vjs.zencdn.net/5.14.1/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<!-- If you'd like to support IE8 -->
{% else %}
<link rel="stylesheet" href="{% static 'build/bundle.min.css' %}?ver={% file_version 'build/bundle.min.css' %}"/>
<!-- GOOGLE ANALYTICS -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ GOOGLE_ANALYTICS_PROPERTY_ID }}', '{{ GOOGLE_ANALYTICS_DOMAIN }}');
    ga('send', 'pageview');
</script>
<!-- END GOOGLE ANALYTICS -->
{% endif %}
{% block external_script %}
{% endblock %}
<!--[if lt IE 9]>
<script src="{% static 'vendor/html5shiv/dist/html5shiv.min.js' %}"></script>

<![endif]-->
<!-- End JS -->
</head>
<body>
<div id="ip-container" class="ip-container">
    <!-- initial header -->
    <header class="ip-header">
        <div class="ip-logo">
            <img src="{% static 'img/logo.svg' %}" height="122" width="312" alt="Triumph" class="ip-inner">
        </div>
        <div class="ip-loader">
            <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            </svg>
        </div>
    </header>
    <div class="ip-main">
        <!-- Static navbar -->
        <div class="wrapper">
            <header class="header">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container clearfix">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed"
                                    data-toggle="collapse" data-target="#navbar"
                                    aria-expanded="true" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="navbar-header__logo clearfix" id="logo">
                                <a class="navbar-brand" href="{% url 'home' %}">{{ h1 }}</a>
                            </h1>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
                            <ul class="nav navbar-nav navbar-right">
                                <li class='{% is_view namespace="school" view_name="coaches"  %}'><a href="{% url 'school:coaches' %}">О нас</a></li>
                                <li class='{% is_view namespace="styles" %}'><a href="{% url 'styles:items' %}">Направления танца</a></li>
                                <li class='{% is_view namespace="attainments" %}'><a href="{% url 'attainments:detail-view' %}">Достижения</a></li>
                                <li class='{% is_view namespace="timetable" %}'><a href="{% url 'timetable:week' %}">Расписание</a></li>
                                <li class='{% is_view namespace="school" view_name="contacts" %}'><a href="{% url 'school:contacts' %}">Контакты</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
                <div class="header__motto hidden-sm hidden-xs">
                    <h3 class="fontsforweb_fontid_6771">С танцем по жизни!</h3>
                </div>
            </header>

            {% block promo %}
            {% endblock %}
            <div class="sub-navigation">
                <div class="container">
                    <div class="row">
                        <div class="row-height">
                            <div class="col-md-12 col-sm-height col-sm-top col-sm-8 col-sm-push-4 col-md-push-0">
                                <nav class="sub-navigation__nav sub-navigation__nav_up">
                                    <ul class="nav navbar-nav">
                                        {% for style in styles%}
                                             <li class='{% is_view view_name="detail" slug=style.slug %} dropdown'>
                                                <a href="{{ style.get_absolute_url }}"{% if style.style_set.all %}class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ style.title }}
                                                    {% if style.style_set.all %}<span class="caret"></span>{% endif %}</a>
                                                <ul class="dropdown-menu">
                                                    {% for sub_obj in style.style_set.all %}
                                                        <li class="menu-item dropdown {% if sub_obj.style_set.all %}dropdown-submenu{% endif %}" >
                                                            <a href="{{ sub_obj.get_absolute_url }}" class="dropdown-toggle">{{ sub_obj.title }}</a>
                                                            <ul class="dropdown-menu">
                                                                {% for sub_obj in sub_obj.style_set.all %}
                                                                    <li>
                                                                        <a href="{{ sub_obj.get_absolute_url }}">{{ sub_obj.title }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-sm-4 col-sm-height col-sm-top hidden-md hidden-lg col-sm-pull-8">
                                <aside class="sidebar inside-full-height">
                                    <nav class="sidebar-nav">
                                        <ul class="sidebar-nav__list">
                                            <li class='{% is_view namespace="news" view_name="the-news" %}'>
                                                <a href="{% url 'news:the-news' %}">
                                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Новости
                                                </a>
                                            </li>
                                            <li class='{% is_view namespace="galleries" %}'>
                                                <a href="{% url 'galleries:list' %}">
                                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Фотогалерея
                                                </a>
                                            </li>
                                            <li class='{% is_view namespace="videos" %}'>
                                                <a href="{% url 'videos:list' %}">
                                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Видео
                                                </a>
                                            </li>
                                            <li class='{% is_view namespace="articles" %}'>
                                                <a href="{% url 'articles:list' %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Статьи
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </aside>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <section class="main">
                <div class="container">
                    <div class="row">
                        <div class="row-height">
                            <div class="col-md-3 col-md-height col-md-top {% is_view namespace='styles,timetable' output='hide' %}  hidden-sm hidden-xs">
                                <aside class="sidebar">
                                    <nav class="sidebar-nav">
                                        <ul class="sidebar-nav__list">
                                            <li class='{% is_view namespace="news" view_name="the-news" %}'>
                                                <a href="{% url 'news:the-news' %}">
                                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Новости
                                                </a>
                                            </li>
                                            <li class='{% is_view namespace="galleries" %}'>
                                                <a href="{% url 'galleries:list' %}">
                                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Фотогалерея
                                                </a>
                                            </li>
                                            <li class='{% is_view namespace="videos" %}'>
                                                <a href="{% url 'videos:list' %}">
                                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Видео
                                                </a>
                                            </li>
                                            <li class='{% is_view namespace="articles" %}'>
                                                <a href="{% url 'articles:list' %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Статьи
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="sidebar-news">
                                        {% get_news_list %}
                                    </div>
                                </aside>
                            </div>
                            <div class="col-sm-12 col-md-9 col-md-top col-md-height">
                                <div class="block-content">
                                    {% block content %}
                                    {% endblock content %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="news visible-sm visible-xs">
                <div class="container">
                    {% get_news_list %}
                </div>
            </section>
        </div>
        <footer class="footer" itemscope itemtype="http://schema.org/Organization">
            <div class="container">
                <div class="footer_wrapper">
                    <div class="row">
                        <div class="col-sm-push-6 col-sm-6 col-xs-12">
                            <address class="footer__address">
                                <div class="address clearfix">
                                    <div class="address__phones">
                                        <i class="material-icons material-icons_indent">phone</i>
                                        <ul class="list">
                                            {% for phone in contacts.phones %}
                                            <li itemprop="telephone">{{ phone }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address__address address_ml32">
                                        <i class="material-icons material-icons_indent">room</i>
                                        <ul class="list">
                                            <li itemprop="addressRegion">{{ contacts.country }}</li>
                                            <li itemprop="addressLocality">{{ contacts.city }}</li>
                                            <li itemprop="streetAddress">{{ contacts.street }}</li>
                                            <li itemprop="postalCode">{{ contacts.postcode }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </address>
                        </div>
                        <div class="col-sm-pull-6 col-sm-6 col-xs-12">
                            <div class="footer__copywright">
                                <div class="row clearfix">
                                    <div class="col-xs-6 col-sm-12">
                                        <div class="copywright__data">
                                            <script>document.write(new Date().getFullYear())</script>
                                            <span itemprop="name">{{ contacts.school }}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-12">
                                        <div class="copywright__design">
                                            Design: <a href="#">GitaneGroup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="{% static 'build/vendor.js' %}"></script>
<script src="{% static 'build/app.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        {% block jquery %}
        {% endblock %}
    });
</script>
</body>
</html>
