{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic&subset=cyrillic-ext,latin" rel="stylesheet">
    <meta name="msapplication-TileImage"
          content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>
        {% block head_title %}Триумф {% endblock head_title %}
    </title>
    {% block styles %}
    {% endblock %}

    {% if debug %}
    <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'build/bundle.css' %}?ver={% file_version 'build/bundle.css' %}"/>
    <link href="http://vjs.zencdn.net/5.14.1/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script type="text/javascript"
            src="{% static 'build/bundle.js' %}?ver={% file_version 'build/bundle.js' %}"></script>
    {% else %}
    <link rel="stylesheet" href="{% static 'build/bundle.min.css' %}?ver={% file_version 'build/bundle.min.css' %}"/>
    <script type="text/javascript"
            src="{% static 'build/bundle.min.js' %}?ver={% file_version 'build/bundle.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'vendor/slick-carousel/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/timetable.js' %}"></script>
    {% block external_script %}
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static 'vendor/html5shiv/dist/html5shiv.min.js' %}"></script>
    <script src="{% static 'vendor/slick-carousel/slick/slick.min.js' %}"></script>
    <![endif]-->
    <!-- End JS -->
</head>
<body>
<!-- Static navbar -->
<div class="wrapper">
    <header class="header">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-header__logo clearfix">
                        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" height="122" width="312" alt="Triumph" class="logo"></a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class='{% is_view namespace="school" %}'><a href="{% url 'school:coach-list' %}">О нас</a></li>
                        <li class='{% is_view namespace="styles" %}'><a href="{% url 'styles:list' %}">Направления танца</a></li>
                        <li class='{% is_view namespace="attainments" %}'><a href="{% url 'attainments:detail-view' %}">Достижения</a></li>
                        <li class='{% is_view namespace="timetable" %}'><a href="{% url 'timetable:week' %}">Расписание</a></li>
                        <li class='{% is_view namespace="contacts" %}'><a href="{% url 'contacts:contact-list' %}">Контакты</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="header__motto">
            <h3 class="fontsforweb_fontid_6771">С танцем по жизни!</h3>
        </div>
    </header>
    {% block promo %}
    {% endblock %}
    <div class="sub-navigation">
        <div class="container">
            <nav class="sub-navigation__nav sub-navigation__nav_up">
                <ul class="nav">
                    <li class='{% is_view view_name="detail" slug="balnye-tantsy" %}'><a href="{% url 'styles:detail' slug='balnye-tantsy' %}">Бальные танцы</a></li>
                    <li class='{% is_view view_name="detail" slug="khip-khop" %}'><a href="{% url 'styles:detail' slug='khip-khop' %}">Hip-hop</a></li>
                    <li class='{% is_view view_name="detail" slug="klubnye-tantsy" %}'><a href="{% url 'styles:detail' slug='klubnye-tantsy' %}">Клубные танцы</a></li>
                    <li class='{% is_view view_name="detail" slug="kontemp" %}'><a href="{% url 'styles:detail' slug='kontemp' %}">Контемп</a></li>
                    <li class='{% is_view view_name="detail" slug="streiching" %}'><a href="{% url 'styles:detail' slug='streiching' %}">Стрейчинг</a></li>
                    <li class='{% is_view view_name="detail" slug="salsa" %}'><a href="{% url 'styles:detail' slug='salsa' %}">Сальса</a></li>
                    <li class='{% is_view view_name="detail" slug="gruppy-dlia-detei" %}'><a href="{% url 'styles:detail' slug='gruppy-dlia-detei' %}">Группы для детей</a></li>
                    <li class='{% is_view view_name="detail" slug="postanovka-tantsa-k-torzhestvu" %}'><a href="{% url 'styles:detail' slug='postanovka-tantsa-k-torzhestvu' %}">Постановка танца к торжеству</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="row-height">
                    <div class="col-md-3 col-md-height col-md-top {% is_view namespace='styles,timetable' output='hide' %}">
                        <aside class="sidebar">
                            <nav class="sidebar-nav">
                                <ul class="sidebar-nav__list">
                                    <li class='{% is_view namespace="news" %}'><a href="{% url 'news:list' %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Новости</a></li>
                                    <li class='{% is_view namespace="galleries" %}'><a href="{% url 'galleries:list' %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Фотогалерея</a></li>
                                    <li class='{% is_view namespace="videos" %}'><a href="{% url 'videos:list' %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Видео</a></li>
                                    <li class='{% is_view namespace="articles" %}'><a href="{% url 'articles:list' %}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Статьи</a></li>
                                </ul>
                            </nav>
                            {% get_news_list %}
                        </aside>
                    </div>
                    <div class="col-md-9 col-md-top col-md-height">
                        <div class="block-content">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>

            </div>


            <!--&lt;!&ndash; Main component for a primary marketing message or call to action &ndash;&gt;
            <div class="jumbotron">
                <h1>Navbar example</h1>
                <p>This example is a quick exercise to illustrate how the default,
                    static and fixed to top navbar work. It includes the responsive CSS
                    and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just
                    scroll.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="../../components/#navbar"
                       role="button">View navbar docs &raquo;</a>
                </p>
            </div>-->
        </div>
    </section>

</div>
<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
            <div class="footer__copywright">
                <ul class="list">
                    <li><script>document.write(new Date().getFullYear())</script> {{ contacts.school }}</li>
                    <li>Design: <a href="#">GitaneGroup</a></li>
                </ul>
            </div>
            <address class="footer__address">
                <div class="address">
                    <div class="address__phones">
                        <ul class="list">
                            {% for phone in contacts.phones %}
                            <li>{{ phone }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="address__address address_ml32">
                        <ul class="list">
                            {% for obj in contacts.address %}
                            <li>{{ obj }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </address>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function() {
        {% block jquery %}
        {% endblock %}
    });
</script>
</body>
</html>
