{% extends "base.html" %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="block-content__title block-content__title_indent">
    <h2>{{ title }}</h2>
</div>
{% for obj in object_list %}
<div class="row row__coaches_indent">
    <div class="col-md-5">
        <div class="block-avatar">
            <div class="block-avatar__photo_wrapper">
                <div class="block-avatar__photo">
                    <img class="img-responsive" src="{{ obj.avatar.url }}" alt="...">
                </div>
            </div>
            <div class="block-avatar__decor">
                <span class="fontsforweb_fontid_6771">{{ obj.first_name }} {{ obj.last_name }}</span>
            </div>
        </div>

    </div>
    <div class="col-md-7">
        <div class="block-content__list-description">
            <div class="list-description__name list-description__name_indent">
                <h4 class="fontsforweb_fontid_6771">{{ obj.first_name }} {{ obj.last_name }}</h4>
            </div>
            <div class="list-description__title list-description__title_indent">
                {{ obj.title | safe }}
            </div>
            <div class="list-description__quote">
                {{ obj.quote | safe }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% include "el_pagination/show_pages.html" %}
{% endblock content %}
