{% extends "base.html" %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block external_script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF4mIl_ZnqwKe0R4pNAlwXRhhCXGf7rAQ&libraries=places"></script>
{% endblock %}

{% block jquery %}
    var myLatLng = {lat: -25.363, lng: 131.044};
    var image = 'static/img/map_icon.png';
    var $container = $('#map');
    console.log($container.width());
    $container.height($container.width()*0.7 + 'px');

    map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    zoom: 7,
    scrollwheel: false, //отключение/включение масштабирования колесиком мыши + swipe
    zoomControl: true //отключение/включение панели масштабирования
    });
    console.log(map);

    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Танцевальная школа "Триумф"',
        icon: image
    });
{% endblock jquery %}


{% block content %}

<div class="block-content__title block-content__title_indent">
    <h2>{{ title }}</h2>
</div>
<div class="contacts">
    <div class="row">
        <div class="col-md-3"><span>Телефоны:</span></div>
        <div class="col-md-9"><p>{{ instance.phones }}</p></div>
    </div>
    <div class="row">
        <div class="col-md-3"><span>Время работы:</span></div>
        <div class="col-md-9"><p>{{ instance.work_time }}</p></div>
    </div>
    <div class="row">
        <div class="col-md-3"><span>Адрес:</span></div>
        <div class="col-md-9"><p>{{ instance.address }}</p></div>
    </div>
</div>
<div class="map-block">
    <h4 class="text-center">Схема проезда</h4>
    <div id="map" style="width:100%;"></div>
</div>
{% endblock content %}
