{% extends "base.html" %}

{% block external_script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF4mIl_ZnqwKe0R4pNAlwXRhhCXGf7rAQ&libraries=places"></script>
{% endblock %}

{% block jquery %}
    var icon = {
        url: '/static/img/google-maps-pin-green.png',
        scaledSize: new google.maps.Size(30, 50)
    }
    var $container = $('#map');
    $container.height($container.width()*0.7 + 'px');

    geocoder = new google.maps.Geocoder();
    var mapOptions = {
      zoom: 16,
      center: {lat: 49.9935, lng: 36.2304},
      scrollwheel: false, //отключение/включение масштабирования колесиком мыши + swipe
      zoomControl: true //отключение/включение панели масштабирования
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    (function codeAddress() {
        var country = '{{ contacts.country }}',
            city = '{{ contacts.city }}',
            street = '{{ contacts.street }}';
        var address = country + ' ' + city + ' ' + street;
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map,
                title: 'Танцевальная школа "Триумф"',
                icon: icon
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
    })();

{% endblock jquery %}


{% block content %}

<div class="block-content__title block-content__title_indent">
    <h2>{{ title }}</h2>
</div>
<div class="contacts">
    <div class="row">
        <div class="col-sm-3"><span>Телефоны:</span></div>
        <div class="col-sm-9"><p>{{ instance.phones }}</p></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><span>Время работы:</span></div>
        <div class="col-sm-9"><p>{{ instance.work_time }}</p></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><span>Адрес:</span></div>
        <div class="col-sm-9"><p>{{ contacts.country }}, {{ contacts.city }}, {{ contacts.street }}</p></div>
    </div>
</div>
<div class="map-block">
    <h4 class="text-center">Схема проезда</h4>
    <div id="map" style="width:100%;"></div>
</div>
{% endblock content %}