{% extends "base.html" %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block styles %}
<style>
    .sub-navigation__nav_up {
        margin-top: -40px !important;
    }
</style>
{% endblock %}


{% block promo %}
<section class="promo">
    <div class="container">
        <div class="row promo_row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="promo__tango">
                    <div class="header__motto visible-xs"> 
                        <h3 class="fontsforweb_fontid_6771">С танцем по жизни!</h3> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 visible-sm">
                <div class="header__motto"> 
                    <h3 class="fontsforweb_fontid_6771">С танцем по жизни!</h3> 
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                <div class="promo-wrapper">
                    <div class="promo-inner-wrapper">
                        <div id="promo-slider">
                            <video width="611" height="285" loop="true" autoplay="autoplay" id="video">
                                <source src="media/triumph-promo.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <!--<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="611" height="285" id="1" align="middle">-->
                                <!--<param name="movie" value='media/1.swf'/>-->
                                <!--<param name="quality" value="high"/>-->
                                <!--<param name="bgcolor" value="#ffffff"/>-->
                                <!--<param name="play" value="true"/>-->
                                <!--<param name="loop" value="true"/>-->
                                <!--<param name="wmode" value="window"/>-->
                                <!--<param name="scale" value="showall"/>-->
                                <!--<param name="menu" value="true"/>-->
                                <!--<param name="devicefont" value="false"/>-->
                                <!--<param name="salign" value=""/>-->
                                <!--<param name="allowScriptAccess" value="sameDomain"/>-->
                                <!--&lt;!&ndash;[if !IE]>&ndash;&gt;-->
                                <!--<object type="application/x-shockwave-flash" data='media/1.swf' width="611" height="285">-->
                                    <!--<param name="movie" value='media/1.swf'/>-->
                                    <!--<param name="quality" value="high"/>-->
                                    <!--<param name="bgcolor" value="#ffffff"/>-->
                                    <!--<param name="play" value="true"/>-->
                                    <!--<param name="loop" value="true"/>-->
                                    <!--<param name="wmode" value="window"/>-->
                                    <!--<param name="scale" value="showall"/>-->
                                    <!--<param name="menu" value="true"/>-->
                                    <!--<param name="devicefont" value="false"/>-->
                                    <!--<param name="salign" value=""/>-->
                                    <!--<param name="allowScriptAccess" value="sameDomain"/>-->
                                    <!--&lt;!&ndash;<![endif]&ndash;&gt;-->
                                    <!--<a href="http://www.adobe.com/go/getflash">-->
                                        <!--<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player"/>-->
                                    <!--</a>-->
                                    <!--&lt;!&ndash;[if !IE]>&ndash;&gt;-->
                                <!--</object>-->
                                <!--&lt;!&ndash;<![endif]&ndash;&gt;-->
                            <!--</object>-->
                            <!--{% for obj in slider_photos %}-->
                            <!--<div class="slide clearfix">-->
                                <!--<img class="img-responsive" src="{{ obj.image.url }}">-->
                            <!--</div>-->
                            <!--{% endfor %}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block jquery %}
    $('#promo-slider').slick({
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 7000,
      centerMode: true,
      focusOnSelect: true,
      infinite: true,
      speed: 5000,
      fade: true,
      cssEase: 'linear'
    });
    $('#video').get(0).play();
{% endblock jquery %}

{% block content %}
<div class="main_page inside-full-height">
    <div class="main_page__text">
        {{ instance.promo|safe }}
    </div>
    <div class="main_page__decor hidden-xs"></div>
</div>
{% endblock content %}
