{% extends "base.html" %}

{% block styles %}
<style>
    .sub-navigation__nav_up {
        margin-top: -43px !important;
    }
</style>
{% endblock %}


{% block promo %}
<section class="promo">
    <div class="container">
        <div class="row promo_row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="promo__tango">
                    <div class="header__motto visible-xs"> 
                        <h3 class="fontsforweb_fontid_6771">С танцем по жизни!</h3> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 visible-sm">
                <div class="header__motto"> 
                    <h3 class="fontsforweb_fontid_6771">С танцем по жизни!</h3> 
                </div>
            </div>
            <div class="col-md-8 hidden-sm hidden-xs">
                <div class="promo-wrapper">
                    <div class="promo-inner-wrapper">
                        <div id="promo-slider">
                            <video width="611" height="285" loop="true" autoplay="autoplay" id="video" muted>
                                <source src="media/triumph-promo.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block jquery %}
    $('#promo-slider').slick({
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 7000,
      centerMode: true,
      focusOnSelect: true,
      infinite: true,
      speed: 5000,
      fade: true,
      cssEase: 'linear'
    });
    $('#video').get(0).play();
{% endblock jquery %}

{% block content %}
<div class="main_page inside-full-height">
    <div class="main_page__text">
        {{ instance.promo|safe }}
    </div>
    <div class="main_page__decor hidden-xs"></div>
</div>
{% endblock content %}
