{% extends "base.html" %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="block-content__title block-content__title_indent">
    <h2>Новости клуба спортивного танца “Триумф”</h2>
</div>
{% for obj in object_list %}
<div class="row">
    <div class="col-md-4">
        {% if obj.image %}
        <img class="block-content__list-img img-responsive" src="{{ obj.image.url }}" alt="{{ obj.title }}">
        {% else %}
        <p>no photo</p>
        {% endif %}
    </div>
    <div class="col-md-8">
        <div class="block-content__list-description">
            <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
            <small>{{ obj.date_created|date:"d.m.Y" }}</small>
            <p class="list-description__content">{{ obj.content | striptags | safe | truncatechars:420 }}</p>
        </div>
    </div>
</div>
<hr>
{% endfor %}

{% include "el_pagination/show_pages.html" %}
{% endblock content %}
