{% extends "base.html" %}

{% block content %}
<div class="row">
    {% for obj in object_list %}
    <div class="col-sm-6 dance-style_indent">
        <a class="dance-style_link" href="{{ obj.get_absolute_url }}">
            <div itemscope itemtype="http://schema.org/Product" class="dance-style clearfix">
                <div class="dance-style__image dance-style__image_indent">
                    {% if obj.get_cover_photo %}
                    <img itemprop="image" class="img-responsive" src="{{ obj.get_cover_photo.image.url }}" alt="{{ obj.get_cover_photo.name }}">
                    {% else %}
                    <p>no photo</p>
                    {% endif %}
                </div>
                <div class="dance-style__content">
                    <h3 class="fontsforweb_fontid_6771"><span itemprop="name">{{ obj.title }}</span></h3>
                    <p class="list-description__content"><span itemprop="description">{{ obj.content | striptags | safe | truncatechars:230 }}</span></p>
                </div>
            </div>
        </a>
    </div>
    {%cycle "" "</div><div class='row'>" %}
    {% endfor %}
</div>
{% include "el_pagination/show_pages.html" %}
{% endblock content %}
