{% extends "base.html" %}

{% block jquery %}
$('.slider-nav').slick({
slidesToShow: 3,
slidesToScroll: 1,
dots: false,
centerMode: true,
focusOnSelect: true
});

function changeImageSource(src) {
$("#main-view").attr("src", src)
}
$slider = $('.slider-nav');
$slider.on( "click", function(event) {
var elem = $(event.target);
if (elem.hasClass('img-responsive')) {
changeImageSource(elem.attr('src'));
}
return false;
});
{% endblock jquery %}

{% block content %}
<div class="dance-styles-detail clearfix">
    {% if instance.photo_set.all %}
        <div class="dance-styles-detail__carousel dance-styles-detail__carousel_indent">
            <div class="slide__main-view">
                <img id="main-view" src="{{ cover_photo.image.url }}" class="img-responsive" alt="{{ cover_photo.name }}">
            </div>
            <div class="slider-nav">
                {% for obj in instance.photo_set.all %}
                <div class="slide clearfix">
                    <img class="img-responsive" src="{{ obj.image.url }}" alt="{{ obj.name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="dance-styles-detail__info">
        <div class="dance-styles-detail__title ">
            <h3 class="fontsforweb_fontid_6771">{{ title }}</h3>
        </div>
        <p class="dance-styles-detail__text">
            {{ instance.content|safe }}
        </p>
    </div>

</div>
{% endblock content %}
