{% extends "base.html" %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="row dance-style_indent">
    {% for obj in object_list %}
    <div class="col-sm-6">
        <a class="dance-style_link" href="{{ obj.get_absolute_url }}">
            <div class="dance-style clearfix">
                <div class="dance-style__image dance-style__image_indent">
                    {% if obj.get_cover_photo %}
                    <img class="img-responsive" src="{{ obj.get_cover_photo.image.url }}" alt="...">
                    {% else %}
                    <p>no photo</p>
                    {% endif %}
                </div>
                <div class="dance-style__content">
                    <h3 class="fontsforweb_fontid_6771">{{ obj.title }}</h3>
                    <p class="list-description__content">{{ obj.content | striptags | safe | truncatechars:230 }}</p>
                </div>
            </div>
        </a>
    </div>
    {%cycle "" "</div><div class='row dance-style_indent'>" %}
    {% endfor %}
</div>
{% include "el_pagination/show_pages.html" %}
{% endblock content %}
